.pg-calcgramas{
    display: flex;
    flex-direction: column;

    .input-gramas{
        width: 400px;
        margin: 25px 0px;
    }
    .botao-gramas{
        width: 400px;
        margin: 25px 0px;
    }
}